.jumbotron{
    height: 300;
    clear: "both";
    padding-top: 120;
    text-align: "center";
    background: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") center center / cover no-repeat;
    color: blanchedalmond;
}